.comment__author {
    margin: 0;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
}

@media screen and (max-width: 768px) {
    .comment__author {
        margin-bottom: 24px;
    }
}
