.video__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 323px;
    padding: 30px;
    text-decoration: none;
    border-radius: 5px;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center;
}

.video__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.video__item:first-child {
    background-image: url(../../../images/colors_of_kamch.jpg);
}

.video__item:last-child {
    background-image: url(../../../images/observ.jpg);
}

.video__item:hover {
    opacity: .6;
}

@media screen and (max-width: 1024px) {
    .video__item {
        height: 288px;
    }
}

@media screen and (max-width: 768px) {
    .video__item {
        height: 200px;
        padding: 25px;
    }
}