.place__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.place__paragraph + .place__paragraph {
    margin-top: 36px;
}

@media screen and (max-width: 700px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 27px;
    }
}

@media screen and (max-width: 375px) {
    .place__paragraph + .place__paragraph {
        margin-top: 24px;
    }
}