.video__item-duration {
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .video__item-duration {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 375px) {
    .video__item-duration {
        margin-top: 16px;
    }
}
