.place__url {
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #fff;
}

.place__url:hover {
    opacity: .6;
}

@media screen and (max-width: 700px) {
    .place__url {
        display: none;
    }
}