.content-title {  
    max-width: 800px;
    margin: 0 auto 48px;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 700px) {
    .content-title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;

    }
}

